MarketPulse-Secure/workflows/marketpulse-workflow-v2.2-fixed.json
{
  "name": "MarketPulse v2.2 - Fixed Connections",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 7AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 700]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// SANITIZED ERROR HANDLER\n// Vulnerability #3 Fix: Prevent information leakage\n// ============================================\n\nconst error = $input.first().json;\n\n// NEVER expose these in alerts\nconst REDACT_PATTERNS = [\n  /api[_-]?key/gi,\n  /token/gi,\n  /password/gi,\n  /secret/gi,\n  /credential/gi,\n  /bearer/gi,\n  /authorization/gi,\n  /\\b[A-Za-z0-9_-]{20,}\\b/g,\n  /gsk_[A-Za-z0-9]+/g,\n  /AIza[A-Za-z0-9]+/g,\n  /\\b\\d{9,}:[A-Za-z0-9_-]+\\b/g\n];\n\nfunction sanitizeMessage(text) {\n  if (typeof text !== 'string') return '[non-string value]';\n  let sanitized = text;\n  REDACT_PATTERNS.forEach(pattern => {\n    sanitized = sanitized.replace(pattern, '[REDACTED]');\n  });\n  if (sanitized.length > 500) {\n    sanitized = sanitized.substring(0, 500) + '... [truncated]';\n  }\n  return sanitized;\n}\n\nconst safeError = {\n  errorCode: error.error?.code || 'UNKNOWN',\n  errorType: error.error?.name || 'Error',\n  message: sanitizeMessage(error.error?.message || 'No message'),\n  failedNode: error.execution?.lastNodeExecuted || 'Unknown',\n  timestamp: new Date().toISOString(),\n  workflow: 'MarketPulse'\n};\n\nconst alertMessage = `⚠️ *MarketPulse Alert*\\n\\nType: ${safeError.errorType}\\nCode: ${safeError.errorCode}\\nNode: ${safeError.failedNode}\\nTime: ${safeError.timestamp}\\n\\nDetails: ${safeError.message}\\n\\n_Check n8n dashboard for full details._`;\n\nreturn [{ json: { alertMessage, safeError } }];"
      },
      "id": "sanitize-error",
      "name": "Sanitize Error (No Leakage)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 700]
    },
    {
      "parameters": {
        "chatId": "-1003257638575",
        "text": "={{ $json.alertMessage }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "admin-alert",
      "name": "Send to Admin Channel (Separate)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [700, 700],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_IN_N8N",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.alternative.me/fng/?limit=1",
        "options": {
          "timeout": 30000
        }
      },
      "id": "fear-greed-fetch",
      "name": "Fetch Fear & Greed Index",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://www.marketwatch.com/rss/topstories",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "rss-fetch",
      "name": "Fetch RSS Feeds",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// PARSE RSS AND EXTRACT NEWS ITEMS\n// Handles MarketWatch RSS format\n// Fixed v2: Properly handle text response format\n// ============================================\n\nconst inputItem = $input.first();\nlet rawData = '';\nlet items = [];\n\ntry {\n  // Get the raw data from various possible formats\n  const json = inputItem.json || {};\n  \n  // When responseFormat is 'text', data comes in json.data\n  if (typeof json.data === 'string') {\n    rawData = json.data;\n  }\n  // When auto-detected, might be in json.body\n  else if (typeof json.body === 'string') {\n    rawData = json.body;\n  }\n  // Fallback: check if json itself contains the XML\n  else if (typeof json === 'object') {\n    // Try to find any string property that looks like XML\n    for (const key of Object.keys(json)) {\n      if (typeof json[key] === 'string' && json[key].includes('<')) {\n        rawData = json[key];\n        break;\n      }\n    }\n    // Last resort: stringify it\n    if (!rawData) {\n      rawData = JSON.stringify(json);\n    }\n  }\n\n  // Parse RSS XML items\n  if (rawData.includes('<item>')) {\n    const itemMatches = rawData.match(/<item>[\\s\\S]*?<\\/item>/g) || [];\n    \n    for (const itemXml of itemMatches.slice(0, 10)) {\n      // Handle both CDATA and plain text formats\n      const titleMatch = itemXml.match(/<title><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/title>/) || \n                        itemXml.match(/<title>([^<]+)<\\/title>/);\n      const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n      const pubDateMatch = itemXml.match(/<pubDate>([^<]+)<\\/pubDate>/);\n      const descMatch = itemXml.match(/<description><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/description>/) ||\n                       itemXml.match(/<description>([^<]+)<\\/description>/);\n      \n      const title = (titleMatch ? titleMatch[1] : '').trim();\n      \n      if (title) {\n        items.push({\n          title: title,\n          link: (linkMatch ? linkMatch[1] : '').trim(),\n          pubDate: (pubDateMatch ? pubDateMatch[1] : '').trim(),\n          description: (descMatch ? descMatch[1] : '').trim().substring(0, 200)\n        });\n      }\n    }\n  }\n} catch (e) {\n  // Log error but continue\n  console.log('RSS Parse Error:', e.message);\n}\n\n// Always return properly formatted n8n items\nif (items.length === 0) {\n  return [{\n    json: {\n      title: 'Market news temporarily unavailable',\n      description: 'Unable to fetch latest headlines',\n      _noData: true\n    }\n  }];\n}\n\nreturn items.map(item => ({ json: item }));"
      },
      "id": "parse-rss",
      "name": "Parse RSS Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 400]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// ENHANCED INPUT VALIDATION & SANITIZATION\n// ============================================\n\nconst items = $input.all();\nconst validatedItems = [];\nconst MAX_ITEMS = 10;\n\nconst BLOCKED_PATTERNS = [\n  /<script[^>]*>/gi,\n  /javascript:/gi,\n  /on\\w+\\s*=/gi\n];\n\nfunction sanitize(str, maxLength = 500) {\n  if (typeof str !== 'string') return '';\n  let clean = str.replace(/<[^>]*>/g, '');\n  for (const pattern of BLOCKED_PATTERNS) {\n    clean = clean.replace(pattern, '[BLOCKED]');\n  }\n  clean = clean.replace(/\\s+/g, ' ').trim();\n  return clean.length > maxLength ? clean.substring(0, maxLength) : clean;\n}\n\nfor (const item of items) {\n  if (!item.json || item.json._noData) continue;\n  \n  const data = item.json;\n  if (!data.title || typeof data.title !== 'string') continue;\n  \n  validatedItems.push({\n    json: {\n      title: sanitize(data.title),\n      description: sanitize(data.description || ''),\n      link: data.link || '',\n      pubDate: data.pubDate || new Date().toISOString()\n    }\n  });\n  \n  if (validatedItems.length >= MAX_ITEMS) break;\n}\n\nif (validatedItems.length === 0) {\n  return [{ json: { _noData: true, _message: 'No valid items after validation' } }];\n}\n\nreturn validatedItems;"
      },
      "id": "input-validator",
      "name": "Enhanced Input Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-no-data",
              "leftValue": "={{ $json._noData }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-valid-data",
      "name": "Has Valid Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1140, 400]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyze these financial news headlines and provide a brief market sentiment summary. Rate the overall sentiment as Bullish, Bearish, or Neutral. Keep your response under 200 words.\n\nHeadlines:\n{{ $json.title }}\n{{ $json.description }}",
        "options": {
          "maxTokensToSample": 500,
          "temperature": 0.3
        }
      },
      "id": "llm-analysis",
      "name": "LLM Sentiment Analysis",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [1360, 300],
      "credentials": {
        "groqApi": {
          "id": "CONFIGURE_IN_N8N",
          "name": "Groq account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-data",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1580, 300]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// MESSAGE COMPOSER WITH DISCLAIMERS\n// Fixed: Uses merged data from both sources\n// ============================================\n\nconst allItems = $input.all();\nconst now = new Date();\n\n// Find Fear & Greed data (has 'data' array with value)\nlet fgScore = 'N/A';\nlet fgRating = 'Data unavailable';\n\n// Find sentiment analysis result\nlet analysisText = 'Analysis unavailable - data source temporarily offline.';\n\nfor (const item of allItems) {\n  const data = item.json;\n  \n  // Check for Fear & Greed data\n  if (data.data && Array.isArray(data.data) && data.data[0]) {\n    fgScore = data.data[0].value || 'N/A';\n    fgRating = data.data[0].value_classification || 'Unknown';\n  }\n  \n  // Check for LLM response (Groq format)\n  if (data.text) {\n    analysisText = data.text;\n  } else if (data.message && data.message.content) {\n    analysisText = data.message.content;\n  } else if (data.content) {\n    analysisText = data.content;\n  }\n}\n\n// DISCLAIMER - Required for financial content\nconst DISCLAIMER = `\\n⚠️ *IMPORTANT DISCLAIMER*\\n_This analysis is generated by AI and is for informational purposes only. It does NOT constitute financial advice. Always consult a qualified financial advisor before making investment decisions._`;\n\nconst message = `📊 *MarketPulse Daily Digest*\\n📅 ${now.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}\\n\\n🎯 *Fear & Greed Index* (Crypto)\\nScore: ${fgScore}/100\\nRating: ${fgRating}\\n\\n📈 *AI Sentiment Analysis*\\n${analysisText}\\n${DISCLAIMER}\\n\\n---\\n_MarketPulse v2.2 | Fixed Edition_`;\n\nreturn [{ json: { message, timestamp: now.toISOString(), fgScore, fgRating } }];"
      },
      "id": "compose-message",
      "name": "Compose Message with Disclaimer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 300]
    },
    {
      "parameters": {
        "chatId": "-1003257638575",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send",
      "name": "Send to User Channel",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2020, 300],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_IN_N8N",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log successful execution for bias monitoring\nconst input = $input.first().json;\n\nconst biasLog = {\n  timestamp: new Date().toISOString(),\n  fearGreedScore: input.fgScore || null,\n  fearGreedRating: input.fgRating || null,\n  messageLength: input.message?.length || 0,\n  status: 'SUCCESS'\n};\n\nconsole.log('BIAS_MONITOR:', JSON.stringify(biasLog));\n\nreturn [{ json: biasLog }];"
      },
      "id": "bias-monitor",
      "name": "Bias Monitoring Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Handle case where no valid data was found\nreturn [{ json: { \n  message: '📊 MarketPulse: Unable to generate full report today due to data validation issues. Fear & Greed data may still be available.',\n  isError: true,\n  _noData: true\n}}];"
      },
      "id": "no-data-handler",
      "name": "No Valid Data Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 500]
    }
  ],
  "connections": {
    "Daily 7AM Trigger": {
      "main": [
        [
          {
            "node": "Fetch Fear & Greed Index",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Sanitize Error (No Leakage)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Error (No Leakage)": {
      "main": [
        [
          {
            "node": "Send to Admin Channel (Separate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Fear & Greed Index": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS Feeds": {
      "main": [
        [
          {
            "node": "Parse RSS Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RSS Data": {
      "main": [
        [
          {
            "node": "Enhanced Input Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Input Validation": {
      "main": [
        [
          {
            "node": "Has Valid Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Valid Data?": {
      "main": [
        [
          {
            "node": "No Valid Data Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "No Valid Data Handler": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Data": {
      "main": [
        [
          {
            "node": "Compose Message with Disclaimer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Message with Disclaimer": {
      "main": [
        [
          {
            "node": "Send to User Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to User Channel": {
      "main": [
        [
          {
            "node": "Bias Monitoring Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveExecutionProgress": false,
    "timeout": 300,
    "timezone": "UTC"
  },
  "tags": [
    {"name": "MarketPulse"},
    {"name": "v2.2"},
    {"name": "Fixed"},
    {"name": "Financial"}
  ],
  "meta": {
    "templateId": "marketpulse-fixed-v2.2",
    "securityLevel": "enhanced",
    "disclaimerIncluded": true,
    "biasMonitoring": true,
    "fixedIssues": [
      "Added Merge node to synchronize parallel data flows",
      "Fixed RSS parsing for MarketWatch format",
      "Replaced Yahoo Finance RSS with MarketWatch (working)",
      "Hardcoded Telegram Channel ID for security",
      "Simplified LLM prompt for better compatibility"
    ]
  }
}
