MarketPulse-Secure/workflows/marketpulse-workflow-v3.0.json
{
  "name": "MarketPulse v3.0 - Complete Rebuild",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 7AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 700]
    },
    {
      "parameters": {
        "url": "https://api.alternative.me/fng/?limit=1",
        "options": {
          "timeout": 30000
        }
      },
      "id": "fear-greed-fetch",
      "name": "Fetch Fear & Greed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://www.marketwatch.com/rss/topstories",
        "options": {
          "timeout": 30000
        }
      },
      "id": "rss-fetch",
      "name": "Fetch MarketWatch RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "xmlToJson",
        "options": {}
      },
      "id": "parse-rss",
      "name": "Parse RSS Data",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [700, 400]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// ENHANCED INPUT VALIDATION\n// Filter and format top 10 headlines\n// ============================================\n\nconst items = $input.all();\nconst validatedItems = [];\nconst MAX_ITEMS = 10;\n\n// Block malicious patterns\nconst BLOCKED_PATTERNS = [\n  /<script[^>]*>/gi,\n  /javascript:/gi,\n  /on\\w+\\s*=/gi\n];\n\nfunction sanitize(str, maxLength = 500) {\n  if (typeof str !== 'string') return '';\n  let clean = str.replace(/<[^>]*>/g, '');\n  for (const pattern of BLOCKED_PATTERNS) {\n    clean = clean.replace(pattern, '[BLOCKED]');\n  }\n  clean = clean.replace(/\\s+/g, ' ').trim();\n  return clean.length > maxLength ? clean.substring(0, maxLength) : clean;\n}\n\ntry {\n  // Handle XML parsed data - look for RSS items\n  for (const item of items) {\n    const json = item.json || {};\n    \n    // RSS feed structure: rss.channel.item (array of items)\n    let rssItems = [];\n    if (json.rss && json.rss.channel && json.rss.channel.item) {\n      rssItems = Array.isArray(json.rss.channel.item) \n        ? json.rss.channel.item \n        : [json.rss.channel.item];\n    }\n    \n    for (const rssItem of rssItems) {\n      if (validatedItems.length >= MAX_ITEMS) break;\n      \n      const title = sanitize(rssItem.title || '');\n      const description = sanitize(rssItem.description || '');\n      const link = rssItem.link || '';\n      const pubDate = rssItem.pubDate || new Date().toISOString();\n      \n      if (title) {\n        validatedItems.push({\n          json: {\n            title,\n            description: description.substring(0, 200),\n            link,\n            pubDate\n          }\n        });\n      }\n    }\n  }\n} catch (e) {\n  console.log('Validation error:', e.message);\n}\n\n// If no items found, return placeholder\nif (validatedItems.length === 0) {\n  return [{ json: { _noData: true, _message: 'No valid headlines found', headlines: '' } }];\n}\n\n// Combine headlines for LLM analysis\nconst headlinesText = validatedItems.map(item => `- ${item.json.title}`).join('\\n');\n\nreturn [{ json: { \n  headlines: headlinesText,\n  itemCount: validatedItems.length,\n  _noData: false\n}}];"
      },
      "id": "input-validator",
      "name": "Enhanced Input Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-has-data",
              "leftValue": "={{ $json._noData }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-valid-data",
      "name": "Has Valid Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1140, 400]
    },
    {
      "parameters": {
        "prompt": "=Analyze the sentiment of the following financial news headlines and provide a brief market sentiment summary.\n\nNews Headlines:\n{{ $json.headlines }}\n\nProvide:\n1. Overall market sentiment (Bullish/Bearish/Neutral)\n2. Key themes identified\n3. Brief 2-3 sentence summary\n4. Confidence level (High/Medium/Low)\n\nKeep the response concise and actionable for investors."
      },
      "id": "llm-chain",
      "name": "LLM Sentiment Analysis",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "model": "llama-3.1-70b-versatile",
        "options": {
          "maxTokensToSample": 500,
          "temperature": 0.3
        }
      },
      "id": "groq-model",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [1380, 500],
      "credentials": {
        "groqApi": {
          "id": "CONFIGURE_IN_N8N",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "id": "merge-data",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1580, 300]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// COMPOSE MESSAGE FOR TELEGRAM\n// Combines Fear & Greed data with LLM analysis\n// ============================================\n\nconst allItems = $input.all();\nconst now = new Date();\n\nlet fgScore = 'N/A';\nlet fgRating = 'Data unavailable';\nlet analysisText = 'Analysis unavailable - data source temporarily offline.';\n\nfor (const item of allItems) {\n  const data = item.json;\n  \n  // Check for Fear & Greed data (has 'data' array)\n  if (data.data && Array.isArray(data.data) && data.data[0]) {\n    fgScore = data.data[0].value || 'N/A';\n    fgRating = data.data[0].value_classification || 'Unknown';\n  }\n  \n  // Check for LLM response (Basic LLM Chain outputs 'text')\n  if (data.text && typeof data.text === 'string' && data.text.length > 20) {\n    analysisText = data.text;\n  }\n  // Alternative: check for 'response' field\n  if (data.response && typeof data.response === 'string') {\n    analysisText = data.response;\n  }\n}\n\n// Financial disclaimer (required)\nconst DISCLAIMER = `\\n\\n⚠️ *IMPORTANT DISCLAIMER*\\n_This analysis is generated by AI and is for informational purposes only. It does NOT constitute financial advice. Always consult a qualified financial advisor before making investment decisions._`;\n\nconst message = `📊 *MarketPulse Daily Digest*\\n📅 ${now.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}\\n\\n🎯 *Fear & Greed Index* (Crypto Market)\\nScore: ${fgScore}/100\\nRating: ${fgRating}\\n\\n📈 *AI Sentiment Analysis*\\n${analysisText}${DISCLAIMER}\\n\\n---\\n_MarketPulse v3.0 | Built by Manus AI & Claude Code_`;\n\nreturn [{ json: { \n  message, \n  timestamp: now.toISOString(), \n  fgScore, \n  fgRating,\n  analysisLength: analysisText.length\n}}];"
      },
      "id": "compose-message",
      "name": "Compose Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 300]
    },
    {
      "parameters": {
        "chatId": "-1003257638575",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-user",
      "name": "Send to User Channel",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2020, 300],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_IN_N8N",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// BIAS MONITORING LOG\n// Log sentiment for future analysis\n// ============================================\n\nconst input = $input.first().json;\n\nconst biasLog = {\n  timestamp: new Date().toISOString(),\n  fearGreedScore: input.fgScore || null,\n  fearGreedRating: input.fgRating || null,\n  messageLength: input.message?.length || 0,\n  analysisLength: input.analysisLength || 0,\n  status: 'SUCCESS',\n  version: 'v3.0'\n};\n\n// Log for monitoring purposes\nconsole.log('BIAS_MONITOR:', JSON.stringify(biasLog));\n\nreturn [{ json: biasLog }];"
      },
      "id": "bias-monitor",
      "name": "Bias Monitoring Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, 300]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// SANITIZE ERROR MESSAGE\n// Prevent information leakage in error alerts\n// ============================================\n\nconst error = $input.first().json;\n\n// Patterns to redact\nconst REDACT_PATTERNS = [\n  /api[_-]?key/gi,\n  /token/gi,\n  /password/gi,\n  /secret/gi,\n  /credential/gi,\n  /bearer/gi,\n  /authorization/gi,\n  /\\b[A-Za-z0-9_-]{20,}\\b/g,\n  /gsk_[A-Za-z0-9]+/g\n];\n\nfunction sanitizeMessage(text) {\n  if (typeof text !== 'string') return '[non-string value]';\n  let sanitized = text;\n  REDACT_PATTERNS.forEach(pattern => {\n    sanitized = sanitized.replace(pattern, '[REDACTED]');\n  });\n  if (sanitized.length > 500) {\n    sanitized = sanitized.substring(0, 500) + '... [truncated]';\n  }\n  return sanitized;\n}\n\nconst safeError = {\n  errorCode: error.error?.code || 'UNKNOWN',\n  errorType: error.error?.name || 'Error',\n  message: sanitizeMessage(error.error?.message || 'No message'),\n  failedNode: error.execution?.lastNodeExecuted || 'Unknown',\n  timestamp: new Date().toISOString(),\n  workflow: 'MarketPulse v3.0'\n};\n\nconst alertMessage = `⚠️ *MarketPulse Error Alert*\\n\\nType: ${safeError.errorType}\\nCode: ${safeError.errorCode}\\nNode: ${safeError.failedNode}\\nTime: ${safeError.timestamp}\\n\\nDetails: ${safeError.message}\\n\\n_Check n8n dashboard for full details._`;\n\nreturn [{ json: { alertMessage, safeError } }];"
      },
      "id": "sanitize-error",
      "name": "Sanitize Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 700]
    },
    {
      "parameters": {
        "chatId": "-1003257638575",
        "text": "={{ $json.alertMessage }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-admin",
      "name": "Send to Admin Channel",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [700, 700],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_IN_N8N",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {},
      "id": "stop-node",
      "name": "Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1360, 520]
    }
  ],
  "connections": {
    "Daily 7AM Trigger": {
      "main": [
        [
          {
            "node": "Fetch Fear & Greed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch MarketWatch RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Sanitize Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Fear & Greed": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch MarketWatch RSS": {
      "main": [
        [
          {
            "node": "Parse RSS Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RSS Data": {
      "main": [
        [
          {
            "node": "Enhanced Input Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Input Validation": {
      "main": [
        [
          {
            "node": "Has Valid Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Valid Data?": {
      "main": [
        [
          {
            "node": "LLM Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Data": {
      "main": [
        [
          {
            "node": "Compose Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Message": {
      "main": [
        [
          {
            "node": "Send to User Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to User Channel": {
      "main": [
        [
          {
            "node": "Bias Monitoring Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Error": {
      "main": [
        [
          {
            "node": "Send to Admin Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveExecutionProgress": false,
    "timeout": 300,
    "timezone": "UTC"
  },
  "tags": [
    {"name": "MarketPulse"},
    {"name": "v3.0"},
    {"name": "Production"},
    {"name": "Financial"}
  ],
  "meta": {
    "templateId": "marketpulse-v3.0",
    "version": "3.0.0",
    "author": "Manus AI & Claude Code",
    "description": "Complete rebuild per Manus AI specification with Basic LLM Chain architecture"
  }
}
